@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

button {
    border: none;
    color: snow;
    font-size: 2rem;
    width: 10rem;
    margin: 12px 5px;
}

button:hover {
    cursor: pointer;
}

